<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932997040845-lti84pu44ig50c680s7cjn9i94a54mc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932997040845-lti84pu44ig50c680s7cjn9i94a54mc5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>932997040845-u0e2suvge1l3i4thq700bm6obpu0qp3t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBakANsfjZHuKi0keWZuYrtBh70xM7QTEA</string>
	<key>GCM_SENDER_ID</key>
	<string>932997040845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.currnecyApp</string>
	<key>PROJECT_ID</key>
	<string>currency-c7a96</string>
	<key>STORAGE_BUCKET</key>
	<string>currency-c7a96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932997040845:ios:e7fff5be742a9dfbb33784</string>
</dict>
</plist>